{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
  <title>Hello, C!</title>
</head>

<body>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
    <a class="navbar-brand" href="/">Hello, C!</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
      aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/syllabus">Syllabus</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/cookbook_index">CookBook!</a>
        </li>
      </ul>
    </div>
  </nav>

  <main role="main" style="margin-top: 40px;">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3 text-primary">Hello, C!</h1>
        <p>
          This is the page where you can access the exercises and test your
          result
        </p>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h2 class="text-success">
            Exercise 1 <span class="badge badge-success">Easy</span>
          </h2>
          <p>
            This exercise will test your skill of basic scanf and printf
            skill.
          </p>
          <p>
            <a class="btn btn-primary" href="exercise/1" role="button">View details »</a>
          </p>
        </div>
        <div class="col-md-4">
          <h2 class="text-muted">Exercise 2 <span class="badge badge-warning">Medium</span></h2>
          <p>This exercise will test your skill of if and loop statements, as well as using functions.</p>
          <p>
            <a class="btn btn-primary" href="exercise/2" role="button">View details »</a>
          </p>
        </div>
        <div class="col-md-4">
          <h2 class="text-muted">Exercise 3</h2>
          <p>Test development in progress.</p>
          <p>
            <a class="btn btn-primary disabled" href="exercise/3" role="button" aria-disabled="true">View details »</a>
          </p>
        </div>
      </div>

      <hr />
      <div style="text-align: center; margin-top: 20px">
        <h5 class="text-primary" style="margin-bottom: 20px">
          You can reward me if you like =) Thank you!
        </h5>
        <img class="img-fluid" style="max-width: 200px; height: auto; margin-bottom: 8%;"
          src="{% static "/tests/wechat_pay.jpg" %}" alt="Hi!" />
      </div>

    </div>


    <!-- /container -->
  </main>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
</body>

</html>