{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />

  <title>Hello, C!</title>
</head>

<body>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
    <a class="navbar-brand" href="/">Hello, C!</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
      aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/syllabus">Syllabus <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/cookbook_index">CookBook!</a>
        </li>
      </ul>
    </div>
  </nav>

  <main role="main" style="margin-top: 100px; font-family: Arial,sans-serif">
    <div class="container">
      <h2 class="text" style="text-align: center;">Syllabus</h2>
      <div style="margin-top: 20px">
        <h3 class="text">Introduction</h3>
        <p>
          Welcome! The goal of this course is to give you a review of course ECE244. More instructions will be announced
          later.
        </p>
      </div>
      <div style="margin-top: 20px">
        <h3 class="text">Tutor</h3>
        <p>
          Course tutor: Louis He<br>
          Email: siwei.he@mail.utoronto.ca<br>
          Github: <a href="https://github.com/Louis-He">https://github.com/Louis-He</a>
        </p>
      </div>
      <div style="margin-top: 20px">
        <h3 class="text">Course Website</h3>
        <p>
          <a href="http://ctest.siweihe.tech">http://ctest.siweihe.tech</a>
        </p>
      </div>
      <div style="margin-top: 20px">
        <h3 class="text">Exercise booklet</h3>
        <p>
          You can get your material from the teaching <a href="https://lms.ez4edu.com/dashboard">dashboard</a>
        </p>
      </div>
      <div style="margin-top: 20px">
        <h3 class="text">Course Schedule</h3>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Lecture Week</th>
              <th scope="col">Time</th>
              <th scope="col">Content</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Review Session 1</th>
              <td>19:30 ~ 23:30 P.M. EDT<br>Dec 7th</td>
              <td>Pointers, dynamic allocation, class, object, and member functions</td>
            </tr>
            <tr>
              <th scope="row">Review Session 2</th>
              <td>19:30 ~ 23:30 P.M. EDT<br>JDec 7th</td>
              <td>Inheritance, polymorphism, linked list, tree and a bit more about timing complexity</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div style="margin-top: 20px;">
        <h3 class="text">Lab Exercise</h3>
        <p>
          There will be one lab exercise every time after the lecture. You can check all the lab exercises using the
          link below.
        </p>
        <ul>
          <li>
            <a href="http://ctest.siweihe.tech/exercise/1">Lab Exercise 1</a>
          </li>
          <li>
            <a href="http://ctest.siweihe.tech/exercise/2">Lab Exercise 2</a>
          </li>
        </ul>
      </div>
      <div style="margin-top: 20px; margin-bottom: 8%">
        <h3 class="text">Reward</h3>
        <p>
          If you haven't signed up to the review session. You can still visit the material on this website. It is not
          easy to keep all the material open-source. You can reward me if you like =) Scan
          the QR code below to support me, thank you!
        </p>
        <img class="img-fluid" style="max-width: 200px; height: auto;" src="{% static "/tests/wechat_pay.jpg" %}"
          alt="Hi!" />
      </div>
    </div>
    <!-- /container -->
  </main>

  <footer style="margin-bottom: 5%; margin-top: 5%;">
    <hr>
    <div style="text-align: center; padding-top: 30px;">
      <p style="color: gray;">&copy; 2020 <a href="https://github.com/Louis-He/C_testing" target="_blank">Hello, C!
          project</a></p>
    </div>
  </footer>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
</body>

</html>