{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.2.1/build/styles/default.min.css">
  <title>Hello, C!</title>
  <style>
    table,
    th,
    td {
      border: 1px solid black;
      border-collapse: collapse;
    }

    th,
    td {
      padding: 10px;
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
    <a class="navbar-brand" href="/">Hello, C!</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
      aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/syllabus">Syllabus</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/cookbook_index">CookBook! <span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
  </nav>

  <main role="main" style="margin-top: 80px;">
    <div style="margin: 50px">
      <div class="row">
        <div class="col-2" style="position: fixed;">
          <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link" href="/cookbook_index">Home</a>
            <a class="nav-link" href="/cookbook_1_1">Hello World</a>
            <a class="nav-link" href="/cookbook_2_1">Basic Knowledge</a>
            <a class="nav-link active" href="/cookbook_2_1">&nbsp;&nbsp;&nbsp;&nbsp;Data Type</a>
            <a class="nav-link" href="/cookbook_3_1">Memory Management</a>
            <a class="nav-link" href="/cookbook_4_1">Objects</a>
          </div>
        </div>
        <div class="col-2" style="visibility: hidden;"></div>
        <div class="col-10">
          <div style="text-align: right;">
            <img class="img-fluid mx-auto" style="height: auto; width: 60px; border-radius: 30px;"
              src="https://avatars1.githubusercontent.com/u/59785146?s=400&u=4cc6336d8d9ab38e839001b445343fc3b8073cd7&v=4">
            <img class="img-fluid mx-auto" style="height: auto; width: 60px; border-radius: 30px;"
              src="https://avatars0.githubusercontent.com/u/28524641?s=460&u=ea270bcbecf0d9af97c2898aabd46370d07a1c46&v=4">
            <p style="font-size: small; color: gray;">This page was contribucted by <a
                href="https://github.com/LinZhihao-723">LittleStar</a> and <a
                href="https://github.com/Louis-He">Louis-He</a>. Late updated on oct. 14th, 2020.</p>
          </div>
          <hr>
          <div class="tab-content">
            <h4>Data Type</h4>
            <p>
              Everything has a type. For example, apple is a fruit; your computer is an electronics; water is a type of
              liquid. This goes the same way when we are in the programming world. All the variables have their own
              types. So, let's meet some basic types we need to know.

            <pre><code>int a;     //This is a signed integer
double b;  //This is a double type floating point
char c;    //This is a signed character</code></pre>
            </p>
            <p>
              Data is stored inside the computer memory. However, different kinds of data may require different
              size of space to store. You know, it's just like you cannot park your car in your refrigerator. In C and
              C++, develpers need to tell the computer explicitly what data type they are using so that they can be
              stored
              in a proper space.
            </p>
            <p>
              On the other hand, different kinds of data may be used in different ways. Computer will not know what to
              do with
              the data you give to it unless you define the data type.
            </p>
            <p>
              In general, the basic data types can be divided into two categories:

              <span style="background-color: #FFFF00">the integer type</span>

              and 
              
              <span style="background-color: #FFFF00">the floating type</span>
              
              . Don't worry, we will go through all the details right away.
            </p>

            <hr>

            <h5>Bit and Byte</h5>
            <p>
              Before we start talking about data type, we need to learn a little bit about
              how numbers are stored in a computer.

            </p>
            <p>
              Instead of using decimal numbers, mordern computers are using binary numbers to store data.
              This simply means that a digit in a binary number can be only 0 or 1. In fact, this is
              what we call one <code>bit</code>: a bit is essentailly a binary
              digit with two possible states: 0 and 1.
            </p>
            <p>
              With a sequence of bits, computer will be able to represent numbers and perform arithmetic or logic
              operations. However, dealing with a bunch of bits are not convenient. Conventionally,
              we define that a group of bits with size of 8 as one <code>byte</code>.
              Therefore, the relation between bit and byte is:
            </p>
            <p align="center">
              1 Byte = 8 Bits
            </p>
            <p>
              Extra reference:<br>
              To learn why computers are using binary representations, you can watch this YouTube video: <a
                href="https://www.youtube.com/watch?v=thrx3SBEpL8">Why Use Binary?</a> <br>
              Or maybe you are intereted with the bit-byte relations: <a
                href="https://www.youtube.com/watch?v=ixJCo0cyAuA&t=97s">Where did Bytes Come From?</a>
            </p>
            <hr>

            <h5>Integer Type</h5>
            <p>

              Integer type is used to store integer data. Even though some of them may have different use, for example, a 
              <code>char</code> can be used to represent a character, but it is stored as an integer in the memory space. 

            </p>
            <p>
              The following table shows all the commonly used integer types, as well as the space each type takes
              and the range of integer it can store.
            </p>
            <table border="1" style="width:70%">
              <tr>
                <td><strong>Type</strong></td>
                <td><strong>Memory Space</strong></td>
                <td><strong>Range</strong></td>
              </tr>
              <tr>
                <td><code>bool</code></td>
                <td>1 bit</td>
                <td>0 or 1</td>
              </tr>
              <tr>
                <td><code>char</code></td>
                <td>1 byte</td>
                <td>-128 to 127</td>
              </tr>
              <tr>
                <td><code>unsigned char</code></td>
                <td>1 byte</td>
                <td>0 to 255</td>
              </tr>
              <tr>
                <td><code>int</code></td>
                <td>4 bytes</td>
                <td>-2,147,483,648 to 2,147,483,647</td>
              </tr>
              <tr>
                <td><code>unsigned int</code></td>
                <td>4 bytes</td>
                <td>0 to 4,294,967,295</td>
              </tr>
              <tr>
                <td><code>short</code></td>
                <td>2 bytes</td>
                <td>-32,768 to 32,767</td>
              </tr>
              <tr>
                <td><code>unsigned short</code></td>
                <td>2 bytes</td>
                <td>0 to 65,535</td>
              </tr>
              <tr>
                <td><code>long</code></td>
                <td>8 bytes</td>
                <td>-9,223,372,036,854,775,808 to 9,223,372,036,854,775,807</td>
              </tr>
              <tr>
                <td><code>unsigned long</code></td>
                <td>8 bytes</td>
                <td>0 to 18,446,744,073,709,551,615</td>
              </tr>
            </table>
            <p></p>
            <p>Note:</p>
            <p>
              The size of each type may be different under different computer architecture, or with different compilier.
              The table above shows the memory space under x86_64 instruction set with
              Linux gcc-5.3.1 compiler. At this moment, you don't have to understand what those stuffs are, you just
              need to
              have a sense that the space of given type is machine dependent.
            </p>
            <p>
              To get a precise memory size of a given type, you can use <code>sizeof</code> operator. For example:
            </p>
            <pre><code>sizeof(int)</code></pre>
            <p>
              This expression will return the how many bytes an integer takes in your computer.
            </p>

          <h5>Floating Type</h5>
          <p>
            Integers are not suitable for all applications. Sometimes it is necessary to
            have variables that can store numbers with digits after the decimal point. These variables 
            are called floating type. 
          </p>
          <p>
            The following table lists all the most commonly used floating types. The difference of these 
            types is the precision of representing decimal digits. Similar to the integer type, more precise 
            the type is, more memory space it will occupy. Note that all the floating types are signed numbers.
          </p>
          <table border="1" style="width:80%">
            <tr>
                <td><strong>Type</strong></td>
                <td><strong>Memory Space</strong></td>
                <td><strong>Range (Absolute value)</strong></td>
                <td><strong>Precision</strong></td>
            </tr>
            <tr>
              <td><code>float</code></td>
              <td>4 bytes</td>
              <td>1.2e-38 to 3.4e+38</td>
              <td>6 decimal place</td>
            </tr>
            <tr>
              <td><code>double</code></td>
              <td>8 bytes</td>
              <td>2.3e-308 to 1.7e+308</td>
              <td>15 decimal place</td>
            </tr>
            <tr>
              <td><code>long double</code></td>
              <td>16 bytes</td>
              <td>3.4e-4932 to 1.1e+4932</td>
              <td>19 decimal place</td>
            </tr>
        </table>
        <hr>


          </div>
        </div>
      </div>
    </div>


    <!-- /container -->
  </main>

  <footer style="margin-bottom: 5%; margin-top: 5%;">
    <hr>
    <div style="text-align: center; padding-top: 30px;">
      <p style="color: gray;">&copy; 2020 <a href="https://github.com/Louis-He/C_testing" target="_blank">Hello, C!
          project</a></p>
    </div>
  </footer>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.2.1/build/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>

</body>

</html>