{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />

  <title>Hello, C!</title>
</head>

<body>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
    <a class="navbar-brand" href="/">Hello, C!</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
      aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/syllabus">Syllabus</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/cookbook_index">CookBook! <span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
  </nav>

  <main role="main" style="margin-top: 40px; margin-bottom: 10%;">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3 text-primary">Let's do it!</h1>
        <p>
          This is the page where you can access the cookbook of C & C++
        </p>
      </div>
    </div>

    <div class="container">
      <main role="main" style="margin-top: 40px; margin-bottom: 10%;">
        <div style="margin: 5%">
          <div class="row">
            <div class="col-3">
              <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" href="/cookbook_index">Home</a>
                <a class="nav-link" href="/cookbook_1_1">Hello World</a>
                <a class="nav-link" href="/cookbook_1_1">&nbsp;&nbsp;&nbsp;&nbsp;Start</a>
                <a class="nav-link" href="/cookbook_1_2">&nbsp;&nbsp;&nbsp;&nbsp;First program</a>
                <a class="nav-link" href="/cookbook_2_1">Basic Knowledge</a>
                <a class="nav-link" href="/cookbook_2_1">&nbsp;&nbsp;&nbsp;&nbsp;Data Type</a>
                <a class="nav-link" href="/cookbook_2_2">&nbsp;&nbsp;&nbsp;&nbsp;Compilation</a>
                <a class="nav-link" href="/cookbook_3_1">Memory Management</a>
                <a class="nav-link" href="/cookbook_3_1">&nbsp;&nbsp;&nbsp;&nbsp;Introduction</a>
                <a class="nav-link" href="/cookbook_3_2">&nbsp;&nbsp;&nbsp;&nbsp;Address</a>
                <a class="nav-link" href="/cookbook_3_3">&nbsp;&nbsp;&nbsp;&nbsp;Array</a>
                <a class="nav-link" href="/cookbook_3_4">&nbsp;&nbsp;&nbsp;&nbsp;Dynamic Memory</a>
                <a class="nav-link" href="/cookbook_4_1">Objects</a>
                <a class="nav-link" href="/cookbook_4_1">&nbsp;&nbsp;&nbsp;&nbsp;OOP Introduction</a>
                <a class="nav-link" href="/cookbook_4_2">&nbsp;&nbsp;&nbsp;&nbsp;Member Function</a>
                <a class="nav-link" href="/cookbook_4_3">&nbsp;&nbsp;&nbsp;&nbsp;Inheritance</a>
                <a class="nav-link" href="/cookbook_4_4">&nbsp;&nbsp;&nbsp;&nbsp;Polymorphism</a>
                <a class="nav-link" href="/cookbook_5_1">Data Structure</a>
              </div>
            </div>
            <div class="col-9">
              <div class="tab-content">
                <div class="alert alert-warning" role="alert">
                  This project is still under active development. More Contents will be added constantly.
                </div>
                <h4>Who are we?</h4>
                <p>
                  We are some elfs from University of Toronto that want to make your life easier learning the
                  programming language C/C++ and feel better when it is your first time entering the world of
                  programming.
                </p>

                <h4>Who should read this?</h4>
                <p>
                  The booklet is designed to be understandable even if you are a newbie to the programming world. The
                  cookbook can also be used as a review material for the following courses. The cookbook includes most
                  or all of the materials that an entry-level undergraduate C/C++ programming language course may cover.
                  <li>ECE150 from University of Waterloo</li>
                  <li>APS105 from University of Toronto</li>
                  <li>ECE244 from University of Toronto</li>
                </p>
                <p>Okey Dokey! more chitchat, let's dive in! You can click <a href="/cookbook_1_1">Hello
                    World</a> on the left navigation panel to start!</p>
                <p>
                  <strong>Notice</strong> that the website is under license GNU AGPLv3. If you wish to use any material
                  from this website, please read the license and follow all its requirement: <a
                    href="https://github.com/Louis-He/C_testing">Project License</a>. If you spot any mistake on the
                  material or you want to join our team, please open an issue or a pull request at project github
                  repository <a href="https://github.com/Louis-He/C_testing">Project repo</a>
                </p>
              </div>

              <hr />
              <div style="text-align: center; margin-top: 20px">
                <h5 class="text-primary" style="margin-bottom: 20px">
                  It is not easy to make this project open source, reward me if you like =) Thank you!
                </h5>
                <img class="img-fluid" style="max-width: 200px; height: auto;"
                  src="{% static "/tests/wechat_pay.jpg" %}" alt="Hi!" />
              </div>
            </div>
          </div>
        </div>
      </main>

      <footer style="margin-bottom: 5%; margin-top: 5%;">
        <hr>
        <div style="text-align: center; padding-top: 30px;">
          <p style="color: gray;">&copy; 2020 <a href="https://github.com/Louis-He/C_testing" target="_blank">Hello, C!
              project</a></p>
        </div>
      </footer>

    </div>


    <!-- /container -->
  </main>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
</body>

</html>