{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.2.1/build/styles/default.min.css">
  <title>Hello, C!</title>
</head>

<body>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
    <a class="navbar-brand" href="/">Hello, C!</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
      aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/syllabus">Syllabus</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/cookbook_index">CookBook! <span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
  </nav>

  <main role="main" style="margin-top: 80px; margin-bottom: 10%;">
    <div style="margin: 50px">
      <div class="row">
        <div class="col-2" style="position: fixed;">
          <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link" href="/cookbook_index">Home</a>
            <a class="nav-link" href="/cookbook_1_1">Hello World</a>
            <a class="nav-link" href="/cookbook_2_1">Basic Knowledge</a>
            <a class="nav-link" href="/cookbook_3_1">Memory Management</a>
            <a class="nav-link" href="/cookbook_4_1">Objects</a>
            <a class="nav-link" href="/cookbook_4_1">&nbsp;&nbsp;&nbsp;&nbsp;OOP Introduction</a>
            <a class="nav-link active" href="/cookbook_4_2">&nbsp;&nbsp;&nbsp;&nbsp;Member Function</a>
            <a class="nav-link" href="/cookbook_4_3">&nbsp;&nbsp;&nbsp;&nbsp;Inheritance</a>
            <a class="nav-link" href="/cookbook_4_4">&nbsp;&nbsp;&nbsp;&nbsp;Polymorphism</a>
            <a class="nav-link" href="/cookbook_5_1">Data Structure</a>
          </div>
        </div>
        <div class="col-2" style="visibility: hidden;"></div>
        <div class="col-10">
          <div style="text-align: right;">
            <img class="img-fluid mx-auto" style="height: auto; width: 60px; border-radius: 30px;"
              src="https://avatars0.githubusercontent.com/u/28524641?s=460&u=ea270bcbecf0d9af97c2898aabd46370d07a1c46&v=4">
            <p style="font-size: small; color: gray;">This page was contributed by <a
                href="https://github.com/Louis-He">Louis-He</a>. Late updated on Nov. 29th, 2020.</p>
          </div>
          <hr>
          <div class="tab-content">
            <div class="alert alert-warning" role="alert">
              This page is for C++ only. C is not object oriented.
            </div>
            <h4>Member Function</h4>
            <p>
              In OOP language, we have member functions that can access, and manipulate the member data inside an
              object. Now take the class <code>Human</code> as an example. We have a member data <code>age</code>.
              We want to implement a function that can increment the age of an object (a person).
            </p>
            <pre><code>class Human{
public:
  int age;
  /* Some other member data */

  void increment_age(){
    age++;
  }
};

int main(){
  /* Some other codes */
}</code></pre>
            <p>
              Now, how can we increment the age of Tom? We need to modify the member data of an object. This is the
              very basic idea of OOP which means we are manipulating objects.
            </p>
            <pre><code>#include &lt;iostream&gt;
              
class Human{
public:
  int age;
  /* Some other member data */

  void increment_age(){
    age++;
  }
};

int main(){
  Human Alice, Tom;
  Alice.age = 5;
  Tom.age = 10;
  // Tom just had his 11th birthday, lets increment his age!
  Tom.increment_age();

  std::cout &lt;&lt; Alice.age &lt;&lt; " " &lt;&lt; Tom.age &lt;&lt; std::endl;
  // output: 5 11
}</code></pre>
            <p><span class="badge badge-warning">Note</span> A note here is that when we call
              <code>increment_age</code>, only the age of Tom incremented. The age of
              Alice was untouched. Why is that? How can the code know which object it is changing in the member
              function? Notice that when we are calling a member function, we are doing some operations with respect to
              a certain object. For example, for the code <code>Tom.increment_age()</code>, we are calling increment_age
              function with respect to object Tom. Within the function, when we are using variable <code>age</code>, we
              already know that the object Tom called this function, so we can use age directly.
            </p>
            <p>
              <hr style="border-color:darkgrey;">
              <span class="badge badge-secondary">Side Note</span> In order to understand the problem more
              comprehensively, we need to introduce another keyword <code>this</code>. In the above code, we implemented
              the member function as following
            <pre><code>void increment_age(){
  age++;
}</code></pre>
            However, we simplified a keyword <code>this</code> and the C++ did that for us. The code should be as the
            following
            <pre><code>void increment_age(){
  (this->age)++;
}</code></pre>
            Here, <code>this</code> is a pointer of type <code>Human</code> that points to the object whoever called
            this function. When we call <code>Tom.increment_age()</code>, <code>this</code> will be a pointer points to
            the object <code>Tom</code>. If we don't write <code>this</code> explicitly, C++ still understands what we
            are tring to do.
            <hr style="border-color:darkgrey;">
            </p>
            <p>In order to make our code look more clear, usually we only declare our member functions in the class, and
              we will implement the function later similar to what we did in C (function declaration and
              implementation). After we rewrite the code, it will become something like below.
            </p>
            <pre><code>#include &lt;iostream&gt;

class Human{
public:
  int age;
  int gender; // 1: male, 2: female, 3: other
  /* Some other member data */

  void increment_age();
};

void Human::increment_age(){
  age++;
}

int main(){
  Human Alice, Tom;
  Alice.age = 5;
  Tom.age = 10;
  // Tom just had his 11th birthday, lets increment his age!
  Tom.increment_age();

  std::cout &lt;&lt; Alice.age &lt;&lt; " " &lt;&lt; Tom.age &lt;&lt; std::endl;
  // output: 5 11
}</code></pre>
          </div>
          <p>
            In OOP language, we have member functions that can access, and manipulate the member data inside an
            object. Now take the class <code>Human</code> as an example. We have a member data <code>age</code>.
            We want to implement a function that can increment the age of an object (a person).
          </p>

          <h4>Access Control</h4>
          <p>
            You may already noticed that there is a keyword <code>public</code> in the above example. What does it do?
            Let's see two programs.
          <div class="row">
            <div class="col-6">
              <pre><code>class foo{
  int id;
};</code></pre>
            </div>
            <div class="col-6">
              <pre><code>class foo{
public:
  int id;
};</code></pre>
            </div>
          </div>
          What will be the output of the following main program respectively?
          <pre><code>int main(){
  foo A;
  A.id = 1;
}</code></pre>
          </p>
          <p>
            Before I explain the output, we first need to know what access control is.
            In C++, there are three levels of access control, here we introduce two of them, <code>public</code> and
            <code>private</code>. The rest <code>protected</code> will be introduced in chapter Inheritance.
            <li><code>public</code>: If a member is public, this member can be access outside of the class.</li>
            <li><code>private</code>: If a member is private, this member can be access only inside of the class or by
              friend function. </li>
          </p>
          <p>
            <strong>By default, if there is no keyword <code>public</code>, c++ will consider the member in the class as
              <code>private</code>.</strong> What does it mean by inside and outside of the class?
            <br>Inside the class means all the member functions, you can always get and set member data inside a member
            function. Outside the class means anything but member functions, for example the code in main function.
          </p>
          <p>
            Here, with the definition of <code>public</code> and <code>private</code>, we can analyze the output.
            If the class is defined as the left side, the main program will not compile successfully. Because by
            default, member <code>id</code> is <code>private</code>, and it cannot be accessed outside of the class.
            However, the right side class definition marks <code>id</code> public, hence you can access it outside of
            the class in main function.
          </p>
          <p>
            <span class="badge badge-warning">Note</span> Normally, we will keep all the member data as
            <code>private</code>. Some of the functions that we want to expose to the whole program will be marked as
            <code>public</code>. This kind of design is called <strong>encapsulation</strong>.
          </p>

          <h4>Special Member Function</h4>
          <h5>1. Constructor</h5>
          <p style="font-weight: bold; color:navy;">When is it called? When an object is instantiated.</p>
          <p>
            A constructor is one of the many special member functions. How to tell whether a function is a constructor?
            If a member function has no return type, then it is a constructor. As its name suggests, the goal of the
            constructor is to create a new object.
          </p>
          <h5>1.1 Default Constructor - <code>class_name()</code></h5>
          <p>When an object is instantiated, under the hood the constructor of that class will be called. we will use
            class Human for example.
          <pre><code>#include &lt;iostream&gt;

int main(){
  Human Alice; // calls the constructor by default
  Human Tom = Human(); // Human() calls the constructor
}</code></pre>
          Let's go back for a second, I think we never wrote any member function other than <code>increment_age</code>?
          Then why constructor exists? It turns out that there is something called default constructor. When we have't
          implemented any kind of constructors, the default constructor is there and we can assume it is implemented
          as follows.
          <pre><code>class Human{
  Human();
}

Human::Human(){}</code></pre>
          Yeah, as you can see. The default constructor implemented for you literally does nothing! However, it does one
          good thing is that there will be no compile-time error. When you instantiate a new object like
          <code>Human Alice;</code> or <code>Human()</code>, the code calls the default constructor
          <code>Human()</code> and gives you a new object. But let's say I want to change the default constructor, we
          want to set gender to 3 and age to -1 at the time a new Human object is instantiated. How can we do that? We
          need to rewrite the default constructor. But we already have one that was given by default, redeclare and
          rewrite the function will bring us a compile-time error? Not exactly. When any constructor is
          implemented, the constructor given by default will not exist anymore.
          <pre><code>#include &lt;iostream&gt;
            
class Human{
public:
  int age;
  int gender;

  Human();
};

Human::Human(){
  gender = 3;
  age = -1;
  std::cout &lt;&lt; "default constructor called" &lt;&lt; std::endl;
}

int main(){
  Human Alice;
  std::cout &lt;&lt; Alice.gender &lt;&lt; " " &lt;&lt; Alice.age &lt;&lt; std::endl;
  // output: default constructor called
  // output: 3 -1
  return 0;
}</code></pre>
          Then you might confused about the new default constructor, why can we use age and gender directly? Which age
          and gender are we changing? Please see the side note above under chapter Member function.
          </p>
          <h5>1.2 General Constructor - <code>class_name(/*parameter(s)*/)</code>
          </h5>
          <p>
            However, when we instantiate a new object, we've already knew how old a person is and what is his/her
            gender.
            Can
            we do something like other functions to pass in some values to a constructor? Yes, we can!
          <pre><code>class Human{
public:
  // ... 
  Human(int _age, int _gender);
};

Human::Human(int _age, int _gender){
  age = _age;
  gender = _gender;
  std::cout &lt;&lt;  "general constructor called" &lt;&lt;  std::endl;
}

int main(){
  Human Alice = Human(20, 2);
  std::cout &lt;&lt; Alice.gender &lt;&lt; " " &lt;&lt; Alice.age &lt;&lt; std::endl;
  // output: general constructor called
  // output: 2, 20
  return 0;
}
</code></pre>
          <span class="badge badge-info">Suggestion</span> Here you can see that I added an underscore before the
          parameters we have in the constructor. It is just a naming style so that the parameter names will not collide
          with the member variable name.
          </p>
          <h5>1.3 Copy Constructor - <code>class_name(const class_name & parameter)</code></h5>
          <p>
            Copy constructor is another special member function. It will be called in the following scenario.
          <pre><code>Human Alice = Tom;
Human Alice(Tom);</code></pre>
          <span class="badge badge-warning">Note</span> Here the first line of the code doesn't really called a function
          with an explicit copy constructor, but it instantiates a new Object Alice that is a copy of Tom. Therefore,
          here C++ will call copy constructor implicitly.
          </p>
          <p>
            How can we rewrite a copy constructor?
          </p>
          <p>
            <hr>
            <span class="badge badge-secondary">Side Note</span> Rewrite a function is called <strong>override</strong>.
            Please do not confused with overload that we will talk about later.
            <hr>
          </p>
          <p>
          <pre><code>class Human{
public:
  // ... 
  Human(const Human & _old);
};

Human::Human(const Human & _old){
  age = _old.age;
  gender = _old.gender;
  std::cout &lt;&lt; "copy constructor called" &lt;&lt; std::endl;
}

int main(){
  Human Alice = Human(20, 2);
  Human Alice2(Alice);
  std::cout &lt;&lt; Alice.gender &lt;&lt; " " &lt;&lt; Alice.age &lt;&lt; std::endl;
  // output: general constructor called
  // output: copy constructor used
  // output: 2 20
  return 0;
}</code></pre>
          Here in the above code, we copied all the member variables from old object to the new object. And this is how
          a copy construcor should work in general.
          </p>
          <p><span class="badge badge-warning">Note</span> Even if you don't override copy constructor, C++ will provide
            one to you by default. Unlike the default constructor provided that does nothing, the default copy
            constructor will copy all the member variables from old object to the new one. The same as we implemented as
            above.
          </p>
          <p>
            Then, you might think that it will be enough if we copy all the things from old object to the new one. What
            bad things could happen? Let's take a look at the following example.
          <pre><code>#include &lt;iostream&gt;

class Human{
public:
    int *age;
    Human();
};

Human::Human(){
    age = new int;
}

int main(){
    Human Alice;
    *(Alice.age) = 10;
    Human Emily(Alice);
    (*(Alice.age))++;

    std::cout &lt;&lt; *(Alice.age) &lt;&lt; " " &lt;&lt; *(Emily.age) &lt;&lt; std::endl;

    return 0;
}</code></pre>
          You can try running the code above, you will get the output: <code>11 11</code>. Why? Pause here for a second
          and think about it. We didn't override the copy constructor, so a default one was provided. What happened when
          we called <code>Human Emily(Alice);</code>?
          </p>

          <p>
            You may already guessed the reason why default copy constructor doesn't work. When we don't provide a copy
            constructor explicitly, <strong>C++ will provide one for free</strong> and it should look like the
            following.
          <pre><code>Human::Human(const Human &_old) {
  age = _old.age;
}</code></pre>
          Note that member variable age is a pointer, not a value. So when we copy age from the old object to the new
          one. We only copied a pointer, but not its content! Now <code>Emily.age</code> and <code>Alice.age</code> are
          two pointers point to the same location where an integer belongs to. When we tried to increment the of Alice
          by calling <code>(*(Alice.age))++;</code>, we increment the integer that <code>Alice.age</code> points to. And
          don't forget, this is the same place we store Emily's age.
          </p>
          <p><span class="badge badge-danger">Important</span><strong> The
              difference between shallow copy and deep
              copy</strong><br> In the previous example, we only copied the pointer, but not the content. This
            behavior is called <strong>Shallow Copy</strong> If we want to copy the content, but not only the
            pointer,
            we need to allocate a new place and copy the value. This behavior is called <strong>Deep Copy</strong>.
          </p>

          <p>
            Then how can we implement copy constructor by making a deep copy?
          <pre><code>Human::Human(const Human &_old) {
  age = new int(*(_old.age));
}</code></pre>
          Instead of coping the pointer, we create a new space for the new member variable age, and then copy the value
          of the old age to the new place. You can replace the original copy constructor by this new implementation. You
          should get the output: <code>11 10</code>. This should be the correct logic and what we want to achieve.
          </p>

          <h5>2. Destructor - <code>~class_name()</code></h5>
          <p style="font-weight: bold; color:navy;">When it is called? Right before an object is out of scope.</p>
          <p>
            Destructor is called automatically for you. As a developer, you don't need to call it. The default
            destructor given to you does nothing, and 99% of the time, it will be no problem. However, there might be
            some problem if one of the member data is a type pointer and it points to a dynamic allocated memory place.
            If you don't overload the destructor and free the space, there will be a memory leak. Let's look at an
            example.

          <pre><code>#include &lt;iostream&gt;

class foo{
    int *ptr;
public:
    foo();
};

foo:foo(){
  ptr = new int(0);
}

int main(){
  foo foo_obj;
  return 0;
}
</code></pre>

          Right before the program ends, <code>foo_obj</code> will be destructed. Since we haven't overloaded
          destructor, the memory space that ptr points to will not be freed. Therefore, there will be a memory leak. How
          can we fix that? Well, free the memory in the destructor!

          <pre><code>class foo{
  // ... other code ...
  ~foo();
}

foo::~foo(){
  delete ptr;
}
</code></pre>

          Now when destructor is called, the memory will be freed and memory leak will not be a problem.
          </p>
          <h5>3. Accessor - <code>return_type get_xxx() const</code></h5>
          <p style="font-weight: bold; color:navy;">When it is called? When you want to get private data member from
            outside the class.</p>
          <p>
            When a member function is used to get the private data member of the class, it is called an
            <strong>accessor</strong>. An example is as follows:
          <pre><code>int foo::get_id() const{
  return id;
}</code></pre>
          Notice that accessor can always be set as a constant member function because we are not supposed to change any
          member data within an accessor.
          </p>

          <h5>4. Mutator - <code>return_type set_xxx()</code></h5>
          <p style="font-weight: bold; color:navy;">When it is called? When you want to set private data member from
            outside the class.</p>
          <p>
            When a member function is used to set the private data member of the class, it is called a
            <strong>mutator</strong>. An example is as follows:
          <pre><code>void foo::set_id(int new_id){
  id = new_id;
}</code></pre>
          Notice that mutator can't be a constant member function because we need to set the member data.
          </p>

          <h5>5. Operator overload - <code>return_type operator_function(parameters)</code></h5>
          <p style="font-weight: bold; color:navy;">When it is called? When the code uses operators.</p>
          <p>
            In this sub chapter, we will use the following complex number example. This is the easiest example I can
            think of to demonstrate operator overload.

          <pre><code>#include &lt;iostream&gt;
#include &lt;math.h&gt;

class complex{
  double real;
  double imagenary;

public:
  complex(double _real, double _img);
}

complex::complex(double _real, double _imagenary) {
  real = _real;
  imagenary = _imagenary;
}
</code></pre>

          Let me ask you a very simple question: how to add two complex numbers? You may think it is a piece of cake,
          just use operator +. But wait a second, how can the compiler know how to add two <code>complex</code> objects?
          We need to tell the compiler what to do and this is when we need to overload the operation functions. First,
          Let's understand how the operator functions get called. For example, we now have two <code>complex</code>
          objects, <code>x</code> and <code>y</code>. When you write <code>x + y</code>, under the hood, the code will
          execute <code>x.operator+(y)</code> instead. Now, that's rewrite <code>operator+</code> to support the
          addition of two complex numbers!

          <pre><code>// declaration is not shown, please fill it in the class to make it work.
complex complex::operator+(const complex &rhs) const {
  return complex(real + rhs.real, imagenary + rhs.imagenary);
}
</code></pre>
          You may ask why we pass in a reference, not a value? Well, we only have two member data in class
          <code>complex</code>. Imagine if we have tons of member data and maybe some are array or multi-dimensional
          array, then it will be expensive to copy an object. That's why we prefer to use reference here, also we don't
          want to change the value of <code>rhs</code>, we add a keyword <code>const</code> before the parameter.
          Another noticeable thing here is that there is also a <code>const</code> at the end of the function. We add
          this <code>const</code> to prevent modify any member data in the function. Similarly, we can overload bunch
          other operator functions.

          <pre><code>complex operator-(const complex & rhs) const;
complex operator*(const complex & rhs) const;
complex operator/(const complex & rhs) const;

bool operator&lt;(const complex & rhs);
bool operator&gt;(const complex & rhs);
bool operator==(const complex & rhs);
bool operator!=(const complex & rhs);

ostream& operator&lt;&lt;ostream& stream, const complex & rhs); // non member function
</code></pre>
          </p>
        </div>
      </div>
    </div>


    <!-- /container -->
  </main>

  <footer style="margin-bottom: 5%; margin-top: 5%;">
    <hr>
    <div style="text-align: center; padding-top: 30px;">
      <p style="color: gray;">&copy; 2020 <a href="https://github.com/Louis-He/C_testing" target="_blank">Hello, C!
          project</a></p>
    </div>
  </footer>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.2.1/build/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>

</body>

</html>